
  
  .footer{
    position:fixed;
    bottom: 2px;
    left:2px;
    right:2px;
    text-align:center;
    padding:15px;
    background:#050606;
    color:white;
  }
  
  .About a{
    color:#D80032;
    text-decoration: none;
  }
  p{
    color: black;
  }
  .ab1 img{
    height:380px;
    width:100%;
    padding: 5px;
    background-color:wheat;
    
    justify-content: space-evenly;



  }
  .ab2{
    height:350px;
    width:40%;
    padding: 5px;
    background-color:#F78CA2;

    justify-content: space-evenly;

  }
  .infor{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  