
  /* .footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    padding:10px;
    background:#050606;
    color:white;
    margin-bottom: 0;
  } */
  
  h2{
    color:black;
    text-align: center;
  }
  p{
    color: black;
  }
  .Contact  h1 a{
    color:#D80032;
    text-decoration: none;
    text-align: center;
  }
  .photo img{
    height:300px;
    width:100%;
    padding: 5px;
    background-color:wheat;
    
    justify-content: space-evenly;



  }
  .informa{
    height:30opx;
    width:80%;
    padding: 5px;
    background-color:ED9ED6;
    text-align: center;

    justify-content: space-evenly;

  }
  .itsme{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media (max-width:600px){
  img{
    width: 40%;
    height:120px;
    
  }
}
 h1{
  color: rgb(84, 26, 63);
 }
 img{
  width:10%;
  height: 100px;
  
 }
  .ff{
    height: 620px;
  }