h2{
    color:black;
  }
  p{
    color: black;
  }
  .Contact a{
    color: maroon;
    text-decoration: none;
  }
  .div1{
    height:350px;
    width:20%;
    padding: 5px;
    background-color:gray;
    
    justify-content: space-evenly;
    border: solid  black;
    border-radius: 10%;
    



  }
  .div2{
    height:350px;
    width:20%;
    padding: 5px;
    background-color:gray;

    justify-content: space-evenly;
    border: solid  black;
    border-radius: 10%;

  }
  .div3{
    height:350px;
    width:20%;
    padding: 5px;
    background-color:gray;

    justify-content: space-evenly;
    border: solid  black;
    border-radius: 10%;

  }
  
  .inf{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Education a{
    color: #D80032;
    text-decoration: none;
  }
  @media (max-width: 500px){
   .div1, .div2, .div3 {
    height: 350px;
    width: 60%; 
    padding: 15px;
    background-color: gray;
    justify-content: space-evenly;
    border: solid black;
    border-radius: 10%;
    box-sizing: border-box; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
  }
  
}
.footer{
  position:fixed;
  bottom: 2px;
  left:2px;
  right:2px;
  text-align:center;
  padding:15px;
  background:#050606;
  color:white;
}
  